@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #333;
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  top: 50%;
  left: 50%;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: white;
}

.circle button:focus {
  outline: none;
}

.circle button#close {
  transform: rotate(90deg);
  transform-origin: -100% -100%;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: white;
  margin: 30px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin-top: 0;
  text-transform: uppercase;
}

.content p {
  color: #333;
  line-height: 1.4;
}

.content small {
  color: grey;
  font-style: italic;
}

.article-container {
  display: flex;
}

.card-container {
  margin-bottom: 16px;
  margin-left: 16px;
  width: min-content;
}

.magic-card {
  box-shadow: 1px 1px 8px;
  border-radius: 4.75% / 3.5%;
  max-width: 300px;
  min-width: 150px;
  width: 40vw;
  margin-bottom: 8px;
}
